<section id="contact" class="contact-section py-5" #contactSection>
  <div class="container">
    <h2 class="text-center mb-4">Contact Me</h2>
    <div class="row justify-content-center">
      <div class="col-md-6 mb-4">
        <div class="contact-card p-4">
          <h5>Email</h5>
          <p>
            <a href="mailto:benjina.paudyal@gmail.com">
              <i class="fas fa-envelope me-2"></i> benjina.paudyal@gmail.com
            </a>
          </p>
          <h5>Social</h5>
          <p>
            <a href="https://github.com/Benjina-Paudyal" target="_blank">
              <i class="fab fa-github me-2"></i> GitHub </a
            ><br />
            <a
              href="https://www.linkedin.com/in/benjinapaudyal/"
              target="_blank"
            >
              <i class="fab fa-linkedin me-2"></i> LinkedIn
            </a>
          </p>
        </div>
      </div>

      <div class="col-md-6 mb-4">
        <div class="contact-card p-4">
          <h5>Send me a message</h5>
          <form #form="ngForm" (ngSubmit)="sendEmail(form)">
            <div class="mb-3">
              <input
                type="text"
                class="form-control"
                placeholder="Your Name"
                required
                [(ngModel)]="name"
                name="name"
              />
            </div>
            <div class="mb-3">
              <input
                type="email"
                class="form-control"
                placeholder="Your Email"
                required
                [(ngModel)]="email"
                name="email"
              />
            </div>
            <div class="mb-3">
              <textarea
                class="form-control"
                rows="4"
                placeholder="Message"
                required
                [(ngModel)]="message"
                name="message"
              ></textarea>
            </div>
            <button
              type="submit"
              class="btn btn-primary w-100"
              [disabled]="sending"
            >
              {{ sending ? "Sending..." : "Send" }}
            </button>
          </form>
          <p
            class="text-center mt-2 status-message"
            [ngClass]="{
              'text-success': statusType === 'success',
              'text-danger': statusType === 'error',
              hide: !statusMessage
            }"
          >
            {{ statusMessage }}
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
