<section id="about" class="about-section py-5" #aboutSection>
  <div class="container d-flex flex-column flex-lg-row align-items-center">
    <div class="about-image flex-lg-1 mb-4 mb-lg-0">
      <img src="assets/profile.jpg" alt="Benjina Paudyal" />
    </div>
    <div class="about-text flex-lg-2">
      <h1 class="name">Benjina Paudyal</h1>
      <h3 class="subtitle">Full-Stack Developer</h3>

      <p>
        Hello! I’m a software developer working with C#, ASP.NET Web API,
        Angular, HTML, CSS, JavaScript, SQL, and Python. I enjoy building
        full-stack applications, designing APIs, managing databases, and writing
        clean, maintainable code.
      </p>

      <p>
        I also hold a Master’s degree in Electronics Engineering from Germany,
        which strengthens my analytical and problem-solving skills and allows me
        to tackle complex systems effectively.
      </p>

      <p>
        I enjoy creating robust, scalable web applications and contributing to
        projects that deliver real-world impact. I am eager to learn new
        technologies, collaborate with teams, and grow as a versatile developer.
      </p>
    </div>
  </div>
</section>
